* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: white;
    font-family:Georgia, serif;
}

.travel-logo {
    font-weight: 800;
    letter-spacing: 0.5rem;
}

.navbar {
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    z-index: 2;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(0, 0, 0);
    background: linear-gradient(140deg, rgba(0, 0, 0, 1) 0%, rgba(0, 3, 92, 1) 30%, rgba(0, 7, 194, 1) 70%, rgba(0, 0, 0, 1) 100%);
    border-bottom: 2px solid black;

    &__logo {
        z-index: 3;
        padding-left: 0.1em;
        border-bottom: 2px solid transparent;
        color: whitesmoke;
        font-size: 1.5rem;
        cursor: pointer;

        transition: all 0.1s ease-in;
        &:hover {
            border-bottom: 2px solid white;
            color: white;
        }
    }

    &-item {
        margin: 0 0.25em;
        padding: 0 0.5em;
        border-bottom: 2px solid transparent;
        color: whitesmoke;
        letter-spacing: 0.1rem;
        cursor: pointer;

        transition: all 0.1s ease-in;
        &:hover {
            border-bottom: 2px solid white;
            color: white;
        }
    }

    &-btn {
        margin-left: 2em;
        margin-right: 2em;
        padding: 0.5em;
        background-color: rgba(0, 3, 92, 1);
        color: whitesmoke;
        border: 2px rgba(0, 7, 194, 1) solid;
        font-weight: 700;
        cursor: pointer;

        transition: all 0.1s ease-in;
        &:hover {
            background-color: rgba(0, 7, 194, 1);
            border: solid 2px white;
            color: white;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
    }

    &__mobilemenu {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgb(0, 0, 0);
        background: linear-gradient(140deg, rgba(0, 0, 0, 1) 0%, rgba(0, 3, 92, 1) 30%, rgba(0, 7, 194, 1) 70%, rgba(0, 0, 0, 1) 100%);
        border-bottom: 2px solid black;
        transform: translateY(-400px);

        transition: all 0.4s ease-in;

        &-active {
            transform: translateY(0px);
        }

        .mobile {
            margin: 0.5em 0;
            padding: 0.5em 0.5em;
        }
    }

    &__mobilehbg {
        cursor: pointer;
        z-index: 3;

        &-line {
            display: block;
            height: 3px;
            width: 30px;
            margin-bottom: 6px;
            background-color: white;
            border-radius: 3px;

            transition: all 0.2s ease-in;

            &-X {

                height: 4px;

                &:nth-child(1) {
                    transform: translateY(10px) rotate(45deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: translateY(-10px) rotate(-45deg);
                }
            }
        }
    }
}

.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    &>h1 {
        opacity: 70%;
        color: white;
        font-size: 5rem;
    }

    &-btn {
        opacity: 70%;
        background: none;
        margin-left: 2em;
        margin-right: 2em;
        padding: 0.5em;
        background-color: transparent;
        color: white;
        border: 2px white solid;
        font-size: 3rem;
        font-weight: 700;
        cursor: pointer;

        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: rgba(0, 3, 92, 1);
            opacity: 100%;
        }
    }
}

.destinations {
    height: 100vh;
    width: 100%;
    padding: 1em 3em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
    background-color: rgba(0, 3, 92, 1);
    border-top: 2px solid black;
    color: white;
}

.card {
    max-height: 400px;
    width: 100%;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    background-color: whitesmoke;
    box-shadow: 0 0 5px 2px white;

    &__image {
        height: 60%;
        width: 100%;
        object-fit: cover;
        border: 2px whitesmoke solid;
    }

    &__info {
        margin: 0.5em 0;
        display: flex;
        flex-direction: column;
        color: rgba(0, 7, 194, 1);

        & > h2 {
            align-self: center;
            color: rgba(0, 3, 92, 1);
        }

        & > p {
            padding: 0.5em;
            text-align: justify;
            text-justify: inter-word;
        }
    }

    transition: all 0.1s ease-in;

    &:hover {
        box-shadow: 0 0 5px 5px white;
    }
}

.services {
    height: 100vh;
    width: 100%;

    position: relative;
    height: 100vh;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/services-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-top: 2px solid black;
}

.footer {
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    background: linear-gradient(140deg, rgba(0, 0, 0, 1) 0%, rgba(0, 3, 92, 1) 30%, rgba(0, 7, 194, 1) 70%, rgba(0, 0, 0, 1) 100%);
    border-top: 2px solid black;
    color: white;
}

@media screen and (max-width: 768px) {
    .navbar__menu {
        display: none;
    }

    .navbar-btn {
        margin-bottom: 1em;
    }
}

@media screen and (min-width: 769px) {
    .navbar__mobile {
        display: none;
    }

    .navbar__mobilehbg {
        display: none;
    }
}