* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: white;
    font-family: Impact, sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    height: 60px;
    width: 100vw;
    padding: 0 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    box-shadow: 0px 5px 5px 5px black;

    &__logo {
        font-size: 1.5rem;
        font-weight: 800;
        letter-spacing: 0.25rem;
        cursor: pointer;
    }

    &-item {
        padding: 0 0.5em;
        letter-spacing: 0.1rem;
        cursor: pointer;
    }

    &-btn {
        margin-left: 2em;
        margin-right: 2em;
        padding: 0.5em;
        background-color: black;
        color: white;
        border: 2px white solid;
        font-weight: 700;
        cursor: pointer;
    }

    &__mobile {

        &menu {
            display: flex;
            flex-direction: column;
        }

        &hbg {
            cursor: pointer;

            &-line {
                display: block;
                height: 3px;
                width: 30px;
                margin-bottom: 6px;
                background-color: white;
                border-radius: 3px;

                transition: all 0.2s ease-in;

                &-X {

                    height: 4px;

                    &:nth-child(1) {
                        transform: translateY(10px) rotate(45deg);
                    }

                    &:nth-child(2) {
                        opacity: 0;
                    }

                    &:nth-child(3) {
                        transform: translateY(-10px) rotate(-45deg);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    .navbar__menu {
        display: none;
    }
}

@media screen and (min-width: 769px){
    .navbar__mobile {
        display: none;
    }
}