* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: white;
  font-family: Georgia, serif;
}

.travel-logo {
  font-weight: 800;
  letter-spacing: 0.5rem;
}

.navbar {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  z-index: 2;
  padding: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
  background: linear-gradient(140deg, black 0%, #00035c 30%, #0007c2 70%, black 100%);
  border-bottom: 2px solid black;
}

.navbar__logo {
  z-index: 3;
  padding-left: 0.1em;
  border-bottom: 2px solid transparent;
  color: whitesmoke;
  font-size: 1.5rem;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.navbar__logo:hover {
  border-bottom: 2px solid white;
  color: white;
}

.navbar-item {
  margin: 0 0.25em;
  padding: 0 0.5em;
  border-bottom: 2px solid transparent;
  color: whitesmoke;
  letter-spacing: 0.1rem;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.navbar-item:hover {
  border-bottom: 2px solid white;
  color: white;
}

.navbar-btn {
  margin-left: 2em;
  margin-right: 2em;
  padding: 0.5em;
  background-color: #00035c;
  color: whitesmoke;
  border: 2px #0007c2 solid;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.navbar-btn:hover {
  background-color: #0007c2;
  border: solid 2px white;
  color: white;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__mobilemenu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
  background: linear-gradient(140deg, black 0%, #00035c 30%, #0007c2 70%, black 100%);
  border-bottom: 2px solid black;
  -webkit-transform: translateY(-400px);
          transform: translateY(-400px);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.navbar__mobilemenu-active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.navbar__mobilemenu .mobile {
  margin: 0.5em 0;
  padding: 0.5em 0.5em;
}

.navbar__mobilehbg {
  cursor: pointer;
  z-index: 3;
}

.navbar__mobilehbg-line {
  display: block;
  height: 3px;
  width: 30px;
  margin-bottom: 6px;
  background-color: white;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.navbar__mobilehbg-line-X {
  height: 4px;
}

.navbar__mobilehbg-line-X:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}

.navbar__mobilehbg-line-X:nth-child(2) {
  opacity: 0;
}

.navbar__mobilehbg-line-X:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
}

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero > h1 {
  opacity: 70%;
  color: white;
  font-size: 5rem;
}

.hero-btn {
  opacity: 70%;
  background: none;
  margin-left: 2em;
  margin-right: 2em;
  padding: 0.5em;
  color: white;
  border: 2px white solid;
  font-size: 3rem;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hero-btn:hover {
  opacity: 100%;
}

.destinations {
  height: 100vh;
  width: 100%;
  background-color: #00035c;
  border-top: 2px solid black;
  color: white;
}

.services {
  height: 100vh;
  width: 100%;
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/services-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-top: 2px solid black;
}

.footer {
  height: 30vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
  background: linear-gradient(140deg, black 0%, #00035c 30%, #0007c2 70%, black 100%);
  border-top: 2px solid black;
  color: white;
}

@media screen and (max-width: 768px) {
  .navbar__menu {
    display: none;
  }
  .navbar-btn {
    margin-bottom: 1em;
  }
}

@media screen and (min-width: 769px) {
  .navbar__mobile {
    display: none;
  }
  .navbar__mobilehbg {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */